* {
  margin: 0;
  padding: 0;
  border-radius: 50;
  font-family: "SF Pro Text", "JetBrainsMono Nerd Font Propo";
  font-weight: 500;
  font-size: 14px;
}
.clock {
  background: rgba(0, 255, 255, 0);
}
.workspace,
.power {
  background: rgba(0, 0, 0, 255);
  padding-right: 18px;
  padding-left: 18px;
}
.power {
  padding-right: 15px;
  padding-left: 15px;
}
.bar {
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  background: rgba(0, 0, 0, 0);
}
.time {
  font-size: 4rem;
  color: #7d6349;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
}
menu {
  border-radius: 8px;
  background-color: rgba(70, 70, 70, 255);
  color: #fff;
}
menuitem {
  border-radius: 5px;
  padding: 4px;
}
check {
  margin-right: 8px;
  margin-left: 8px;
}
